header {
    width: 15vw;
    height: 100vh;

    .header-perfil_logado {
        height: 20vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        img {
            padding: 5rem;
            border-radius: 50%;
            background-color: #000;
        }

        h2 {
            font-size: 2.2rem;
        }
    }

    .header-perfil_entrar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            a {
                background-color: #c0c0c0;
                padding: .5rem;
                border-radius: .5rem;
                color: #000;
                text-decoration: none;
                width: 100%;
                text-align: center;
                cursor: pointer;
            }
            
            a:hover {
                transition: .2s;
                background-color: #f0f0f0;
            }

            p {
                padding: .5rem 0;
            }
    
        }

    }

    .header-nav {
        height: 65vh;
        display: flex;
        justify-content: center;
        align-items: center;

        nav {
            width: 100%;
            padding: 1rem;

            div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                border: .1rem solid;
                border-radius: 1rem;

                a {
                    text-align: center;
                    width: 100%;
                    padding: 1.5rem 0;
                    color: #000;
                    text-decoration: none;
                    border-bottom: .1rem solid #000;
                }

                a:first-child {
                    border-radius: 1rem 1rem 0 0;
                }

                a:last-child {
                    border: none;
                    border-radius: 0 0 1rem 1rem;
                }

                a:hover {
                    transition: .2s;
                    background-color: #c0c0c0;
                }
            }

        }
    }

    .header-logout_fechado {
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        div {
            width: 100%;

            button {
                height: 100%;
                width: 100%;
                padding: 1rem 0;
                border: none;
                background-color: #c0c0c0;
                cursor: pointer;
            }

            button:hover {
                transition: .2s;
                background-color: lightslategray;
            }
        }
    }

    .header-logout_aberto {
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .div-mensagem_logout {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
            
            p {
                font-size: 1.8rem;
            }

            .logout-button_confirmation {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: .2rem .5rem;
                width: 100%;
                
                button {
                    width: 40%;
                    border: none;
                    border-radius: .5rem;
                    padding: .5rem;
                    background-color: #c0c0c0;
                    cursor: pointer;
                }

                button:first-child:hover {
                    transition: .2s;
                    background-color: yellow;
                }

                button:last-child:hover {
                    transition: .2s;
                    background-color: green;
                }
            }
        }

        .header-logout_button {
            width: 100%;
            bottom: 0;

            .logout-button {
                height: 100%;
                width: 100%;
                padding: 1rem 0;
                border: none;
                background-color: #c0c0c0;
                cursor: pointer;
            }
        
            .logout-button:hover {
                transition: .2s;
                background-color: lightslategray;
            }
        }

    }
    
}