<div class="div-lista p-3 rounded overflow-auto">
    <div class="div-title d-flex justify-content-between align-items-center">
        <h2>{{ tipo.tipo }}</h2>
        <button class="btn btn-primary px-4"
            (click)="this.abrirCadastro()"
            *ngIf="!this.cadastrarGasto">+</button>
        <div *ngIf="this.cadastrarGasto">
            <button class="btn btn-success px-4"
                (click)="this.create()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path
                                    d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
            </button>    
            <button class="btn btn-danger ms-1" 
                (click)="this.fecharCadastro()">Cancelar</button>
        </div>    
    </div>
    <div *ngIf="this.cadastrarGasto"
        class="div-cadastro d-flex flex-wrap align-items-start">
        <div class="div-input d-flex flex-column col-6">
            <label for="gasto">Gasto</label>
            <input type="text" id="gasto" [(ngModel)]="this.gastoDTO.gasto">
        </div>
        <div class="div-input d-flex flex-column col-6">
            <label for="local">Local</label>
            <input type="text" id="local" [(ngModel)]="this.gastoDTO.local">
        </div>
        <div class="div-input d-flex flex-column col-6">
            <label for="preco">Preço</label>
            <input type="text" placeholder="R$ 0,00" id="preco" [(ngModel)]="this.gastoDTO.preco">
        </div>
        <div class="div-input d-flex flex-column col-6">
            <label for="tipo">Tipo</label>
            <input type="text" [value]=tipo.tipo disabled id="tipo">
        </div>
    </div>
    <div class="div-card my-2 p-3 rounded" *ngFor="let gasto of gastos">
        <app-gasto 
            [gasto]="gasto"
            (onAlter)="this.alter($event)"
            (onUpdateStatus)="this.updateStatus($event)"
            (onDelete)="this.delete($event)"></app-gasto>
    </div>
</div>