.div-card, .div-lista {
    border: .1rem solid;
}

.div-lista {
    max-height: 80vh;

    
    .div-cadastro {
        
        .div-input {
            input {
                max-width: 100%;
            }
        }

        .div-input:nth-child(even) {
            padding-left: .5rem;
        }
    }
}

.btn-confirm:hover {
    transition: .2s;
    background-color: var(--bs-success);
}

.btn-edit:hover {
    transition: .2s;
    background-color: var(--bs-warning);
}

.btn-delete:hover {
    transition: .2s;
    background-color: var(--bs-danger);
}