<div class="d-flex justify-content-between align-items-center">
    <p># {{ gasto.numero }}</p>
    <p *ngIf="gasto.status">Pago</p>
    <p *ngIf="!gasto.status">Em aberto</p>
</div>
<div class="div-gasto d-flex justify-content-around align-items-center">
    <div class="div-lista-gasto w-50 overflow-auto">
        <ul class="list-group list-group-flush" *ngIf="!this.editarGasto">
            <li class="list-group-item">
                <p>Gasto: {{ gasto.gasto }}</p>
            </li>
            <li class="list-group-item">
                <p>Local: {{ gasto.local }}</p>
            </li>
            <li class="list-group-item">
                <p>R$ {{ gasto.preco }}</p>
            </li>
            <li class="list-group-item">
                <p>Tipo: {{ gasto.tipo.tipo }}</p>
            </li>
        </ul>
        <ul class="list-group list-group-flush lista-gasto-editar" *ngIf="this.editarGasto">
            <li class="list-group-item">
                <label for="gasto-editar">Gasto</label>
                <input type="text" id="gasto-editar" [value]="gasto.gasto" [(ngModel)]="gasto.gasto">
            </li>
            <li class="list-group-item">
                <label for="local-editar">Local</label>
                <input type="text" id="local-editar" [value]="gasto.local" [(ngModel)]="gasto.local">
            </li>
            <li class="list-group-item">
                <label for="preco-editar">Preco</label>
                <input type="text" id="preco-editar" [value]="gasto.preco" [(ngModel)]="gasto.preco">
            </li>
            <li class="list-group-item">
                <label for="tipo-editar">Tipo</label>
                <input type="text" id="tipo-editar" disabled [value]="gasto.tipo.tipo">
            </li>
        </ul>
    </div>
    <div class="div-left d-flex justify-content-around flex-column w-50">
        <div class="d-flex justify-content-around">
            <button class="btn-confirm col-3 border-0 py-2 rounded"
                (click)="this.updateStatus(gasto.id, gasto.status)"
                *ngIf="!this.editarGasto">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path
                        d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
            </button>
            <button class="btn-confirm col-3 border-0 py-2 rounded"
                (click)="this.alter(gasto, gasto.id)"
                *ngIf="this.editarGasto">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path
                        d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
            </button>
            <button class="btn-edit col-3 border-0 py-2 rounded"
                (click)="this.abrirEditar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil" viewBox="0 0 16 16">
                    <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                </svg>
            </button>
            <button class="btn-delete col-3 border-0 py-2 rounded"
                (click)="this.delete(gasto.id)"
                *ngIf="!this.editarGasto">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3" viewBox="0 0 16 16">
                    <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                </svg>
            </button>
            <button class="btn-delete col-3 border-0 py-2 rounded"
                (click)="this.fecharEditar()"
                *ngIf="this.editarGasto">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
            </button>
        </div>
        <p class="text-center pt-5">{{ gasto.dataCriacao }}</p>
    </div>
</div>