.btn-confirm:hover {
    transition: .2s;
    background-color: var(--bs-success);
}

.btn-edit:hover {
    transition: .2s;
    background-color: var(--bs-warning);
}

.btn-delete:hover {
    transition: .2s;
    background-color: var(--bs-danger);
}

.div-gasto {

    .div-lista-gasto {
        height: 17rem;

        .lista-gasto-editar {
            input {
                width: 100%;
            }
        }
    }

}